@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&family=Public+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Public Sans', sans-serif;
}
:root{
    --gris_oscuro: #101213;
    --verde: #95FFA1;
    --rojo: #B7484B;
}
/* con :root se definen los colores que vamos a usar en el resto del codigo, de ser nececsario tambien se podrian definir otras variables como tamaños de texto decoraciones, etc*/


header{
    display: flex;
    justify-content: space-between;
    padding: 2vh 5vw 8vh;
    align-items: center;
    background-color: var(--gris_oscuro);
}
.foto_perfil{
    max-width: 2.5rem;
    clip-path: circle();
}
h1{
    display: none;
    color: whitesmoke;
    letter-spacing: 2px;
    font-size: 2.5rem;
    animation: achicar 2s;
}
@keyframes achicar {
    from {
        transform: scale(2);
        opacity: 0;
    }
}
/* con keyframes se  define las animaciones. Para este caso la animacion de entrada de la pagina */

#campana{
    color: white;
    font-size: 1.5rem;
}
.balance_y_movimientos{
    background-color: var(--gris_oscuro);
    border-radius: 0px 0px 40px 40px;
    padding: 1vh 5vw;
    position: sticky;
    top: 0;
}
.balance{
    display: flex;
    justify-content: center;
}
.balance__costado{
    display: none;
}

.balance__monto{
    color: white;
    font-size: 2.7rem;
    letter-spacing:3px;
    margin-bottom: 1vh;
}
.rojo{
    color: var(--rojo);
}
.verde{
    color: var(--verde);
}
.balance__leyenda{
    color:#B5B7B9;
    font-size: .6rem;
    margin: 0 0 3vh;
    text-align: center;
}
.movimientos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vh 0 3vh;
}
.movimientos__egreso{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.enviar_balance{
    background-color: var(--gris_oscuro);
    border: none;
    margin-left: 1vh;
}
.simbolo__mas{
    color: var(--verde);
    cursor: pointer;
    font-size: 1.2rem;
    
}
.enviar_balance:hover{
    transform: rotate(-360deg) scale(1.5);
    transition: 1s;
}   
/*Con hover se define que es lo que va a hacer el elemento cuando el mouse se pose arriba*/

.movimientos_input{
    border-radius: 10px;
    padding: 5px 10px;
    margin: 1vh 1vw;
    background-color: var(--gris_oscuro);
    border:2px solid  #1C2121;
    width: 115px;
    color: #B5B7B9;
    position: relative;
    font-size: 1rem;
}
.movimientos_input::placeholder{
    color: #B5B7B9;
    font-size: .6rem;
    position: absolute;
    left: 13px;
    bottom: 5px;
}

.movimientos_input:focus{
    outline: 2px solid var(--verde);
    padding: 7px 12px;   
}

.movimientos_input:focus::placeholder{
    color: var(--verde)
}
.movimientos_input:hover{
    outline: 2px solid var(--verde);
}
/*Esta propiedad se utiliza para cambiar el estilo de un elemento cuando este tiene el foco, en ese caso cuando seleccionamos este input para escribir algun valor*/


body{
    background-color: black;
}

.gastos{
    padding: 5vh 7vw;
}
.lista_gastos{
    display: flex;
    flex-direction: column;
    align-items: top;
    margin-bottom: 2vh;
}
.gastos_titulo{
    color: white;
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin-bottom: 2vh;
    padding-bottom: 3vh;
    border-bottom: 2px solid var(--gris_oscuro);
}
li{
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 2vh 0;
    animation: aparecer 2s;
}
@keyframes aparecer {
    from {
        opacity: 0;
    }
    
}
.contenedor_tacho_nombre{
    display: flex;
    align-items: center;
}
.contenedor_tacho_nombre > i {
    color: white;
    font-size: 1.2rem;
    margin-right: 3vw;
    cursor:pointer;
}
.contenedor_tacho_nombre > i:hover {
    color: var(--rojo);
    transform: scale(1.5) rotate(45deg);
    transition: .5s;
}
.lista__gasto_nombre{
    color: #B5B7B9;
    font-size: 1rem;
}
.lista__gasto_monto{
    font-size: 1.2rem;
    color: var(--rojo);
}



@media (min-width: 375px) {
        .movimientos_input{
            width: 125px;
        }
}

@media (min-width:500px) {
    h1{
        display: block;
    }
}

@media (min-width:800px) {
    .gasto{
        flex-direction: column;
    }
    .movimientos_input{
        width: 200px;        
    }
    .balance__ingreso{
        display: block;
    }
    .balance__costado{
        display: block;
    }
    .balance{
        justify-content: space-between;
    }
}


/*En esta seccion del codigo estan realizados los cambios para los distintos tamaños de pantalla, desde 280px de ancho como minimo hasta tamaño de website donde se puede encontrar mas informacion gracias a tener una pantalla de mayor tamaño */