/* link para importar las fonts desde google fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&family=Public+Sans&display=swap');
/* el usa un reseteo de padding y margin a todo nuestro html para eliminar los que traen lo elementos por defecto */
*{
    padding: 0;
    margin: 0;
    font-family: 'Public Sans', sans-serif;
}
/* con :root se definen las variables que vamos a usar repetidamente en el codigo, en caso de querer cambiarlaws se cambia de aca en vez de en cada clase o id*/
:root{
    --gris_oscuro: #101213;
    --verde: #95FFA1;
    --rojo: #B7484B;
    --rojo_oscuro:#b71e1e;
    --gris_medio: #404243;
    --gris_claro:#fbfbfb;
    --verde_oscuro:#25ac37;
    --cambio_modo:.3s;
}

body{
    background-color: black;
    transition: var(--cambio_modo);
}
body.dia{
    background-color: white;
}


/* estilos del header */
header{
    display: flex;
    justify-content: space-between;
    padding: 2vh 5vw 8vh;
    align-items: center;
    background-color: var(--gris_oscuro);
    transition: var(--cambio_modo);
}
/* siempre que se vea esta estructura en el codigo es para aplicar los cambios para el modo noche. Cuando el boy tenga la clase dia se haran efectivos*/
body.dia header{
    background-color: var(--gris_claro);
}

.foto_perfil{
    max-width: 2.5rem;
    clip-path: circle();
}

h1{
    display: none;
    color: var(--gris_medio);
    letter-spacing: 2px;
    font-size: 2.5rem;
    animation: achicar 2s;
    justify-self: center;
    margin-left:6.5vw;
}
/* con keyframes se  definen las animaciones. Para este caso la animacion de entrada del titulo de la pagina */
@keyframes achicar {
    from {
        transform: scale(2);
        opacity: 0;
    }
}

.modo_noche_campana{
    display: flex;
    align-items: center;
}

#campana{
    color: white;
    font-size: 1.5rem;
    margin-right: 1.5vw;
    transition: var(--cambio_modo);
}
body.dia #campana{
    color: black;
}
/* todos los estilos para que el boton de cambio de modo noche/dia se vea como queremos */
.switch{
    background-color:var(--gris_medio);
    border-radius: 30px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    transition: var(--cambio_modo);
}
body.dia .switch{
    background: rgb(255, 217, 66);
    color: black;
}

/* esta estructura de codigo modifica todos los elementos i dentro de un elemento padre con la clase switch */
.switch > i{
    width: 30px;
    line-height: 30px;
    color: white;
}

/* el pseudo elemento after esta utilizado para que en el boton de cambio de modo este la esfera que tapa el luna o el sol respectivamente */
.switch::after{  
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    background: white;
    right: 0;
    border-radius: 30px;
    transition: var(--cambio_modo);
}
body.dia .switch::after{
    background-color: rgb(221, 221, 221);
    left: 0;
    right: unset;
}


.balance_y_movimientos{
    background-color: var(--gris_oscuro);
    border-radius: 0px 0px 40px 40px;
    padding: 1vh 5vw;
    position: sticky;
    top: 0;
    transition: var(--cambio_modo);
}
body.dia .balance_y_movimientos{
    background-color: var(--gris_claro);
}

.balance{
    display: flex;
    justify-content: center;
}

.balance__costado{
    display: none;
}
.balance__monto{
    color: var(--gris_medio);
    font-size: 2.7rem;
    letter-spacing:3px;
    margin-bottom: 1vh;

}

/* Las clases blanco rojo y verde son clases para span de los textos que se van a insertar mediante JS cuando se ingresen montos de dinero y gastos. */
.blanco{
    color: white;
    transition: var(--cambio_modo);
}
body.dia .blanco{
    color: black;
}
.rojo{
    color: var(--rojo);
    transition: var(--cambio_modo);
}
body.dia .rojo{
    color: var(--rojo_oscuro);
}
.verde{
    color: var(--verde);
    transition: var(--cambio_modo);
}
body.dia .verde{
    color: var(--verde_oscuro);
}

.balance__leyenda{
    color:#B5B7B9;
    font-size: .6rem;
    margin: 0 0 3vh;
    text-align: center;
    transition: var(--cambio_modo);
}
body.dia .balance__leyenda{
    color: var(--gris_oscuro);
}

.movimientos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vh 0 3vh;
}

.movimientos__egreso{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.enviar_balance{
    background-color: var(--gris_oscuro);
    border: none;
    margin-left: 1vh;
    transition: var(--cambio_modo);
}
body.dia .enviar_balance{
    background-color: var(--gris_claro);
}

.simbolo__mas{
    color: var(--verde);
    cursor: pointer;
    font-size: 1.2rem;   
    transition: var(--cambio_modo);
}
body.dia .simbolo__mas{
    color: var(--verde_oscuro);
}

/*Con la pseudo-clase hover se define que es lo que va a hacer el elemento cuando el mouse se pose arriba*/
.enviar_balance:hover{
    transform: rotate(-360deg) scale(1.5);
    transition: 1s;
}   

.movimientos_input{
    border-radius: 10px;
    padding: 5px 10px;
    margin: 1vh 1vw;
    background-color: var(--gris_oscuro);
    border:2px solid  #1C2121;
    width: 115px;
    color: #B5B7B9;
    position: relative;
    font-size: 1rem;
    transition: var(--cambio_modo);
}
body.dia .movimientos_input{
    background-color: var(--gris_claro);
    border-color: #B5B7B9;
    color: var(--gris_medio);
}

/* con el pseudo-elemento placeholder le damos estilo a lo que queremos ver dentro del input por defecto hasta que se cargue algun dato*/
.movimientos_input::placeholder{
    color: #B5B7B9;
    font-size: .6rem;
    position: absolute;
    left: 13px;
    bottom: 5px;
}
body.dia .movimientos_input::placeholder{
    color: var(--gris_medio);
}

/* la pseudo-clase focus sirve para modificar los estilos de un elemento cuando este tiene el foco, en el caso de un imput es cuando estamos ingresando algun dato */
.movimientos_input:focus{
    outline: 2px solid var(--verde);
    padding: 7px 12px;
    transition: none; 
}
body.dia .movimientos_input:focus{
    outline-color: #B5B7B9;
}

/* en este caso se observa como tambien se puede aplicar una pseudo-clase a un pseudo-elemento */
.movimientos_input:focus::placeholder{
    color: var(--verde);
}

.movimientos_input:hover{
    outline: 2px solid var(--verde);
    transition: none;
}
body.dia .movimientos_input:hover{
    outline-color: #B5B7B9;
}


.gastos{
    padding: 5vh 7vw;
}

.lista_gastos{
    display: flex;
    flex-direction: column;
    align-items: top;
    margin-bottom: 2vh;
}

.gastos_titulo{
    color: white;
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin-bottom: 2vh;
    padding-bottom: 3vh;
    border-bottom: 2px solid var(--gris_oscuro);
    transition: var(--cambio_modo);
}
body.dia .gastos_titulo{
    color: var(--gris_oscuro);
    border-color: var(--gris_claro);
}

li{
    display: flex;
    justify-content: space-between;
    margin: 2vh 0;
    animation: aparecer 2s;
}
@keyframes aparecer {
    from {
        opacity: 0;
    }
    
}

.contenedor_tacho_nombre{
    display: flex;
    align-items: center;
}

.contenedor_tacho_nombre > i {
    color: white;
    font-size: 1.2rem;
    margin-right: 3vw;
    cursor:pointer;
    transition: var(--cambio_modo);
}
body.dia .contenedor_tacho_nombre > i {
    color: var(--gris_medio);

}

.contenedor_tacho_nombre > i:hover {
    color: var(--rojo);
    transform: scale(1.5) rotate(45deg);
    transition: .5s;
}
body.dia .contenedor_tacho_nombre > i:hover{
    color: var(--rojo_oscuro);
}

.lista__gasto_nombre{
    color: #B5B7B9;
    font-size: 1rem;
    transition: var(--cambio_modo);
}
body.dia .lista__gasto_nombre{
    color: var(--gris_oscuro);
}

.lista__gasto_monto{
    font-size: 1.2rem;
    color: var(--rojo);
    transition: var(--cambio_modo);
}
body.dia .lista__gasto_monto{
    color: var(--rojo_oscuro);
}



/*En esta seccion del codigo estan realizados los cambios para los distintos tamaños de pantalla, desde 350px de ancho como minimo hasta tamaño de tablet o pc donde se puede encontrar mas informacion gracias a tener una pantalla de mayor tamaño */

@media (min-width: 375px) {
        .movimientos_input{
            width: 125px;
        }
}

@media (min-width:500px) {
    h1{
        display: block;
    }
}

@media (min-width:800px) {
    .gasto{
        flex-direction: column;
    }
    .movimientos_input{
        width: 200px;        
    }
    .balance__ingreso{
        display: block;
    }
    .balance__costado{
        display: block;
    }
    .balance{
        justify-content: space-between;
    }
}